.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    ". skills-title skills-title"
    ". front-end backend";
  grid-template-columns: repeat(3, 1fr);
  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }
  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }
  .skills-title{
    grid-area: skills-title;
    font-weight: 600;
    text-align: center;
    color:$secondary-color;
  }
  .front-end {
    grid-area: front-end;
    span {
      color:$secondary-color;
    }
  }
  .backend {
    grid-area: backend;
  }
  .skills {
    text-align: center;
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
    li {
      list-style: none;
    }
    h3 {
      font-weight: 500;
      color:$secondary-color;
    }
  }

}